# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = TOP250_douban_movies.settings

[deploy]
#url = http://localhost:6800/
project = TOP250_douban_movies
